.bg-css-nuetral{
    background-color:#fbfbfb;;
}
.fg-css-lightbrown{
    color:#C0970A;
}
.fg-css-lightgreen{
    color:#AAC706;
}
.fg-css-peru{
    color:peru;
}
.fg-css-cornflowerblue{
    color:cornflowerblue;
}
.fg-css-blueviolet{
    color:blueviolet;
}
.fg-css-greenblue{
    color:#15C68E;
}
.fg-css-bluegreen{
    color:#14A3BB;
}
.fg-css-bluepurple{
    color:#776EEF;
}
.fg-css-gold{
    color:#f3cd00 !important;
}
.fg-css-red{
    color:red !important;
}
.fg-css-deeppink{
    color:deeppink !important;
}
.fg-css-blue{
    color:blue !important;
}
.fg-css-darkred{
    color:#af0000 !important;
}
.fg-css-lightgreen{
    color:#02d602 !important;
}
.fg-css-gray{
    color:gray !important;
}
.fg-css-green{
    color:green !important;
}
.fg-css-forestgreen{
    color:forestgreen !important;
}
.fg-css-purple{
    color:blueviolet !important;
}
.fg-css-lightgold{
    color:gold !important;
}
.fg-css-orange{
    color:orange !important;
}
.fg-css-darkorange{
    color:darkorange !important;
}
.fg-css-darkgray{
    color:darkgray !important;
}
.fg-css-lightgray{
    color:lightgray !important;
}
.bg-css-pink{
    background-color: #e200a1;
}
.bg-css-red{
    background-color: red;
}
.bg-css-orangered{
    background-color: orangered;
}
.bg-css-orange{
    background-color: orange;
}
.bg-css-darkred{
    background-color: #b71c1c
}
.bg-css-purple{
    background-color:darkviolet;
}
.bg-css-darkpurple{
    background-color: #5400a9;
}
.bg-css-dirtyyellowgreen{
    background-color:#aab553;
}
.bg-css-lightgray{
    background-color:lightgray;
}
.bg-css-lightblue{
    background-color: #90caf9
}
.bg-css-lime{
    background-color:lime;
}
.bg-css-blue{
    background-color: blue;
}
.bg-css-darkblue{
    background-color: darkblue;
}
.bg-css-green{
    background-color: green;
}
.bg-css-darkgreen{
    background-color: darkgreen;
}
.bg-css-brown{
    background-color: #a52525;
}
.bg-css-darkbrown{
    background-color: #791818;
}